<style>
    .Titulo{        
        text-align:center;
    }
</style>


<h1>Usuarios de la Aplicación</h1>

<table>
  <thead>
    <tr>
      <th class="Titulo">Correo Electrónico</th>
      <th class="Titulo">Fecha de Creación</th>
      <th class="Titulo">Última Sesión</th>
      <th class="Titulo">Rol de Usuario</th>
    </tr>
  </thead>

  <tbody>
      <% @Usuarios.each do |usuario| %>      
      <tr>
       
        <td><%= usuario.email %></td>
        <td style="text-align:center"><%= usuario.created_at.strftime('%d-%h-%Y a las %I:%M:%S %P UTC') %></td>
        <td style="text-align:center"><%= usuario.updated_at.strftime('%d-%h-%Y a las %I:%M:%S %P UTC') %></td>
        <td><%= usuario.rol ? usuario.rol : "Desconocido" %></td>
                     
      </tr>
    <% end %>
  </tbody>
</table>
