<style>
    .Titulo{        
        text-align:center;
    }
    .Botones{
        text-align:center;
    }
    img{
        width: 50px;
        height: 50px;
    }
</style>


<h1>Zombies</h1>

<table>
  <thead>
    <tr>
      <th class="Titulo">Avatar</th>
      <th class="Titulo">Nombre</th>
      <th class="Titulo">Bio</th>
      <th class="Titulo">Edad</th>
      <th class="Titulo">E-mail</th>
      <th class="Titulo">Podrido</th>
      <th class="Titulo">Creado por:</th>
      <th colspan="3" class="Titulo">Opciones</th>
    </tr>
  </thead>

  <tbody>
      <% @zombies.each do |zombie| %>
      <!--<#% @rotten_zombies.each do |zombie| %>-->
      <tr>
        <td><%= image_tag(zombie.avatar_url)%></td>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.rotten ? "Sí" : "No" %></td>
        
        <td><%= zombie.usuario_id ? Usuario.find(zombie.usuario_id).email : "Desconocido" %></td>
        
        <td class="Botones"><%= link_to '<button class="button">Mostrar</button>'.html_safe, zombie %></td>
        
    <% if current_usuario %>
    
        <% if ["editor", "contribuidor", nil].include? current_usuario.rol %>
            <td class="Botones"><%= link_to '<button class="button success"> Editar </button>'.html_safe, edit_zombie_path(zombie) %></td>
        
        <% if ["editor", nil].include? current_usuario.rol %>
            <td class="Botones"><%= link_to '<button class="button alert">¡Destruir!</button>'.html_safe, zombie, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
        <% end %>
     <% end %>
     
     <% elsif current_admin %>
     
            <td class="Botones"><%= link_to '<button class="button success"> Editar </button>'.html_safe, edit_zombie_path(zombie) %></td>
        
            <td class="Botones"><%= link_to '<button class="button alert">¡Destruir!</button>'.html_safe, zombie, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
     
    <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--#%= link_to '<button class="button success"> Nuevo Zombie </button>'.html_safe, new_zombie_path %-->
