<style>
  img{
    width: 285px;
    height: 285px;
    margin-left: auto;
	margin-right: auto;
	display: block;
  }
</style>


<div class="field small-12 large-5 columns">
    <%= image_tag(@zombie.avatar_url) %>
</div>

<div class="field small-12 large-7 columns", id="Datos">
<p>
  <strong>Nombre:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @zombie.bio %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @zombie.age %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @zombie.email %>
</p>

<p>
  <strong>Podrido:</strong>
  <%= @zombie.rotten ? "Sí" : "No" %>
</p>

<p>
  <strong>Creado por:</strong>
  <%= @zombie.usuario_id ? Usuario.find(@zombie.usuario_id).email : "Desconocido" %>
</p>
</div>


<div>
    <h3>Cerebros</h3>
</div>

<div id="brains">
    <%= render :partial => @zombie.brains.reverse %>
</div>

<% if current_usuario.rol != "suscriptor" %>
<div>
    <h3>Agregar</h3>
</div>

<%= form_for([@zombie, Brain.new], remote: true) do |f| %>
 
<div class="row">
 
  <div class="field small-12 large-6 columns">
    <%= f.label :flavor %>
    <%= f.text_field :flavor %>
  </div>
  
  <div class="field small-12 large-6 columns">
    <%= f.label :iq %>
    <%= f.number_field :iq %>
  </div>
  
  <div class="field small-12 large-12 columns">
    <%= f.label :fresh %>
    <%= f.check_box :fresh %>
  </div>
  
  <div class="actions small-12 large-12 columns ">
    <%= f.submit 'Crear Cerebro', class:'hollow button success' %>
  </div>
  
</div>
  
<% end %>

<!--a class="hollow button success"-->
<%= link_to '<button class="button success"> Editar Zombie </button>'.html_safe, edit_zombie_path(@zombie) %>

<% end %>
 
<%= link_to '<button class="button"> Regresar </button>'.html_safe, zombies_path %>